/* Estilos generales para el contenedor */
.container {
    display: flex;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

/* Estilos para la barra lateral (sidebar) */
.sidebar {
    width: 320px;
    background-color: #ffffff; /* Color de fondo verde */
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 10px;
    height: 993px;
}

/* Estilo para el encabezado dentro de la barra lateral */
.sidebar-header {
    background: linear-gradient(to bottom right, #39da00, #299602); /* Degradado desde verde claro a verde más oscuro */
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
}


/* Estilo para el texto del encabezado */
.sidebar-header h1 {
    margin: 0;
    font-size: 24px;
    font-style: italic; /* Fuente cursiva */
    font-weight: bold;
}

/* Estilos para la lista en la barra lateral */
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0; 
    
}

.sidebar ul li a {
    font-size: 20px; 
}


.sidebar ul li a {
    color: #b6b6b6;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 12px; /* Aumentar el padding para mayor área clicable */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

.sidebar ul li a i {
    margin-right: 15px; /* Mayor margen para separar más el ícono del texto */
}

/* Efecto hover para los ítems del menú */
.sidebar ul li a:hover {
    background-color: #39da00;; /* Verde más oscuro al pasar el ratón */
    color: #f1f1f1;
}

/* Estilos para el contenido principal */
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

/* Estilo para los encabezados y párrafos en el contenido principal */
.main-content h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.main-content p {
    font-size: 18px;
    text-align: center;
    color: #666;
}

.sidebar-image {
    display: block;
    margin: 190px auto; /* Centra la imagen horizontalmente y añade margen superior e inferior */
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

